/Week5/nbproject/private/
/Week5/build/
/Week5/int105_review/build/
/Week5/int105_review/nbproject/private/
/Week5/Main/build/
/Week5/Main/nbproject/private/
/Week5/int102finalLab_solution/build/
/Week5/int102finalLab_solution/nbproject/private/
/JavaLibrary1/nbproject/private/
/JavaLibrary1/build/
/Week5/int102finalLab_solution/dist/
/Week6/int102finalLab_solution/build/
/Week6/int102finalLab_solution/nbproject/private/
/ExamPreview/nbproject/private/
/ExamPreview/build/
/Week8/ExamPreview/build/
/Week8/ExamPreview/nbproject/private/